.grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.t1, td , th ,.t2{
    text-align: center;
    border: 3px solid black;
    margin: 10% 0 10% 0;
    font-size: 40px;
}

.t1, .t2 ,.t3 ,.t4{
    width: 100%;
}

.nested{
    font-weight: bold;
}

.coloured{
    color: purple;
    text-decoration: underline;
}

.row{
    column-width: 10000px;
}

.bold{
    color: white;
    background-color: black;
}

.main{
    column-width: 50px;
}
